<!--put the stuff for upload button and other buttons we may need here-->
<div class="bg-[#427a43] flex flex-row items-center justify-center">
        <h1 class="align-middle justify-center text-9xl text-white">footer</h1>
    </div>
</body>