<!--put the stuff for upload button and other buttons we may need here-->
<div class="bg-[#427a43] flex flex-row items-center justify-center">
        <h1 class="align-middle justify-center text-9xl text-white">
            <button class="bg-[#005F02] rounded-full">
                <a href="/upload">
                    <img src="/images/camera-line.svg" alt="camera">
                </a>
            </button>
        </h1>
    </div>
</body>