<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< Updated upstream
    <title>PlantDex</title>
    <link rel="stylesheet" href="/css/style.css">
=======
    <link rel="stylesheet" href="/css/output.css">
>>>>>>> Stashed changes
</head>

<body class="">
    <div class="">
        <h1 class="">PlantDex</h1>
    </div>
    <!-- put all of the user info here -->