<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlantDex</title>
    <link rel="stylesheet" href="/css/output.css">
</head>

<body class="bg-[#F2E3BB] flex flex-col">
    <div class="bg-[#427A43]/85 flex flex-row items-center justify-center border-b-4 border-l-4 border-r-4 border-[#005F02] rounded-b-md">
        <div class="bg-[url('/images/fern.png')] bg-size-[2%] w-full bg-repeat align-middle justify-center">
            <div class="bg-[#427A43]/70 p-4">
                <h1 class="text-6xl text-white text-center font-family-fraunces font-medium">PlantDex</h1>
                <h2 class="text-xl text-white text-center font-family-dm-mono font-normal">From Backcountry to Backyard</h2>
            </div>
        </div>
    </div>