<%-include("navigator/header.ejs")%>
<h1>Upload Images</h1>
<form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="image">Select Image:</label>
    <input type="file" id="image" name="image" accept="image/png, image/jpeg, image/PNG, image/JPEG" required>
    
    <button type="submit">Upload</button>
</form>
<%-include("navigator/footer.ejs")%>